mixin main-cover(name,text,text2,text_button)
  section(class="section home-hero")
    .container-default
      .home-hero-wrapper
        .title 
          h1.title__doctor=name
          p.title__text--one=text
          p.title__text--two=text2
          +button(text_button)
        div(class="split-content home-right")
          div(class="image-wrapper home-hero")
            picture
              source(media="(min-width:1300px)" srcset="../../assets/img/clinica-1-large.jpg")
              source(media="(min-width:768px)" srcset="../../assets/img/clinica-1-medium.jpg")
              img(src="../../assets/img/clinica-1-small.jpg", alt="Imagen de la doctora")
    div(class="bg home-hero")

mixin skill-card(title,description,icon)
  .skill-card
    .skill-card__icon 
      img(src="../../assets/icons/"+icon, alt="icon")
    .skill-info
      p.skill-info__title=title 
      p.skill-info__description=description

mixin about(title,description,text)
  .about
    .about__info
      .about__info-title
        span=title
      .about__info-description
        span=description
      .about__info-text
        p=text
      +button("RESERVA TU CITA")
    .doctor-cover 
      .doctor-cover__rectangle 
      .doctor-cover__photo 

mixin carousel(title,description,icon,id)
  .carousel
    .carousel-icon
      img(src="../../assets/icons/carrousel/"+icon, alt="Icono")
    .carousel-info
      span.carousel-info__title=title
      span.carousel-info__description=description
      a(href="#" data-bs-toggle="modal" data-bs-target="#"+id) MÁS INFORMACIÓN

mixin schedule(title,description,text)
  .schedule-container
    .schedule-container__info--two
      .schedule-container__info
        .schedule-info
          .schedule-info__text
            span.schedule-info__text--title=title
            span.schedule-info__text--relevant=description
            span.schedule-info__text--description=text
          +button("RESERVA TU CITA")
    picture
      source(media="(min-width:1300px)" srcset="../../assets/img/toothbrush-large.jpg")
      source(media="(min-width:768px)" srcset="../../assets/img/toothbrush-medium.jpg")
      img(src="../../assets/img/toothbrush-small.jpg", alt="Es una imagen de un cepillo de dientes")

mixin testimony-card(name,occupation,photo,text)
  .testimony-card
    p.testimony-card__text=text
    .testimony-card__person
      img(src="../../assets/img/testimonios/"+photo, alt="Foto de persona")
      .testimony-card__person-info
        span=name
        p=occupation
    hr

mixin video(link)
  .video-container
    .video
      picture 
        source(media="(min-width:1300px)" srcset="../../assets/img/clinica-5-large.jpg")
        source(media="(min-width:768px)" srcset="../../assets/img/clinica-5-medium.jpg")
        img(src="../../assets/img/clinica-5-small.jpg", alt="Es una miniatura de video")
      .video-opacity
      a(class="video-icon" href=link target="_blank" rel="noopener")
        img(src="../assets/icons/play.svg", alt="Es un icono de play")

mixin social-media(tiktok_link,instagram_link,facebook_link)
  .social-media
    a(href=tiktok_link target="_blank" class="social-media__tiktok" rel="noopener")
    a(href=instagram_link target="_blank" class="social-media__instagram" rel="noopener")
    a(href=facebook_link target="_blank" class="social-media__facebook" rel="noopener")

mixin footer-info(copyright,developer_sign,email)
  .footer-info
    span.footer-info__copyright=copyright
    span.footer-info__copyright-bellow All right reserved
    span.footer-info__developer-sign=developer_sign
    span.footer-info__email=email

mixin title(principal,description)
  div(class="titles") 
    .titles__principal=principal
    .titles__description=description 

mixin button(text)
  button(class="default-button" data-bs-toggle="modal" data-bs-target="#modal-schedule")
    .default=text

mixin modal(title,id,text,link)
  div(class="modal animate__animated animate__zoomIn animate__faster" id=id tabindex="-1" aria-labelledby="label_"+id aria-hidden="true")
    div(class="modal-dialog modal-dialog-centered")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="label_"+id)=title
          button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close")
        div(class="modal-body")
          p=text
        div(class="modal-footer")
          a(href=link target="_blank" class="btn btn-primary" rel="noopener") Reservar cita

mixin modal-schedule(title,id,link)
  div(class="modal animate__animated animate__zoomIn animate__faster" id=id tabindex="-1" aria-labelledby="label_"+id aria-hidden="true")
    div(class="modal-dialog modal-dialog-centered")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="label_"+id)=title
          button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close")
        div(class="modal-body")
          table(class="table table-bordered")
            thead
              th(scope="col") Día
              th(scope="col") Hora
            tbody
              tr
                td Lunes
                td 8:30AM - 19:30PM
              tr 
                td Martes
                td 8:30AM - 19:30PM
              tr 
                td Miercoles
                td 8:30AM - 19:30PM
              tr
                td Jueves
                td 8:30AM - 19:30PM
              tr 
                td Viernes
                td 8:30AM - 19:30PM
              tr
                td Sábado
                td CERRADO
              tr
                td Domingo
                td CERRADO
        div(class="modal-footer")
          a(href=link target="_blank" class="btn btn-primary" rel="noopener") Reservar cita